{% load static %}<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hire Me</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8" />

        {% if not DEBUG %}
            <link rel="stylesheet" href="{% static "/app.css" %}" />
        {% endif %}

    </head>
	<body>
        <noscript><p>This page requires Javascript.</p></noscript>

        <div class="ibm ibm-type-e" id="app"></div>

        {% if DEBUG %}
            <script type="text/javascript" src="http://0.0.0.0:7070/app.js"></script>
        {% else %}
            <script type="text/javascript" src="/static/app.js"></script>
        {% endif %}
    </body>
</html>

